body {
  margin: 50px;
  }

/****************   Nav Section **********************/
nav {
	background-color: #19c244;
  border-block: solid;
  writing-mode: horizontal-tb;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/***********************  Footer Section   **************************/
footer {
	background-color: #19c244;
  border-block: solid;
  writing-mode: horizontal-tb;
  display: flex;
  justify-content: center;
  margin-left: 15;
  margin-right: 15;
}

/*********** Splash Page ************************/
header {
  background-color: #80ac8e;
  padding-left: 15px;
}

header h1 {
  font-family: "Newsreader", serif;
  font-size: 32;
  color:rgb(4, 4, 4);
  padding-top: 5px;
}

header img {
  border-radius: 6px;
  border: soild;
  border-color: black;
}

.address {
 font-style: italic;
 font-size: 10;
}

.tagline {
  font-size: 20px;
}

/************* Sections ********************/
hr {
  color: black;
}

section h3 {
  color: #38B56C;
  font-family: "Newsreader", serif;
}

section h2 {
  padding-left: 80px;
  background-color: #f4efe6; 
}

section dl {
  display: grid;
	grid-template-columns: 1fr 1fr;
  padding-left: 80px;
  gap: 40px;
}

.contact-head {
  background-color: #9bd8aa;
}

section ul {
  list-style-type: square;
  padding-left: 100px;
}

.card ul {
  list-style-type: square;
  padding-left: 20px;
}

section a {
  color:#616462;
  text-decoration: none;
}

section a:hover {
  color: aqua;
}

nav a:hover{
  color:#dfdfba;
  text-decoration: underline;
}

nav a{
  color:#f8f8f8;
  text-decoration: underline;
}

footer a:hover{
  color:#dfdfba;
  text-decoration: underline;
}

footer a{
  color:#f8f9f9;
  text-decoration: underline;
}



/**************   Projects   *****************/
.three-col {
	display: grid;
  gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.card img {
  display: block;
}

.card {
  box-shadow: 0 5px 5px;
  background-color: #9bd8aa;
  border: 1px solid;
  padding: 20px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
    flex-direction: column;
    justify-content:center;
    background-color: #19c244;
    border-block: solid;
    writing-mode: horizontal-tb;
    display: flex;
    align-items: center;
    }

    .three-col {
      grid-template-columns: 1fr;
      justify-content:center;
      display: grid;
      gap: 10px;
    }

    section h2 {
      padding-left: 40px;
    }

    section dl {
      display: grid;
	    gap: 10px;
	    grid-template-columns: 1fr 1fr;
      padding-left: 40px;
      gap: 40px;
    }

    section ul {
      list-style-type: square;
      padding-left: 60px;  
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
}

input {
  box-shadow: 0px 3px 3px;
}

textarea {
   box-shadow: 0px 3px 3px;
}